<!DOCTYPE HTML>
<html>
<head>
<title>详情页</title>
<link href="../assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script type='text/javascript' src="../assets/js/jquery-1.10.2.js"></script>
<!-- Custom Theme files -->
<link href="../assets/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<link href="../assets/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="../assets/js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="../assets/js/menu_jquery.js"></script>
<script type="text/javascript" src="../assets/js/vue.js"></script>
<script type="text/javascript" src="../assets/js/vue-resource.min.js"></script>
<link rel="stylesheet" href="../assets/css/etalage.css">
<script src="../assets/js/jquery.etalage.min.js"></script>
<script>
		
		</script>
<!-- the jScrollPane script -->
<script type="text/javascript" src="../assets/js/jquery.jscrollpane.min.js"></script>
		<script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
		</script> 
</head>
<body>
<!-- header_top -->
<div class="top_bg">
<div class="container">
<div class="header_top">
	<div class="top_left">
		<h2><a href="#">通知</a> 尊敬的用户您好，请尽快完善信息！  </h2>
	</div>
	<div class="top_right">
		<ul>
			<li><a href="history.html">近期浏览历史</a></li>
		<li class="login" >
						<div  id="loginContainer">|<a href="#" id="loginButton"><span>登陆</span></a>
						    <div id="loginBox">                
						        <form id="loginForm">
						                <fieldset id="body">
						                	<fieldset>
						                          <label for="account">用户名</label>
						                          <input type="text" name="account" id="account">
						                    </fieldset>
						                    <fieldset>
						                            <label for="password">密码</label>
						                            <input type="password" name="password" id="password">
						                     </fieldset>
						                     <script>
						                     function func(){
						                    	 return false;
						                     }
						                     </script>
						                    <input type="submit" id="login" value="登陆" onclick="return func()">
						            	</fieldset>
							 </form>
				        </div>
			      </div>
			      							<div  id="logout" >|<a href="http://localhost:8080/user/logout" id="loginButton"><span>&nbsp;&nbsp;注销</span></a></div>
			      			      
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
</div>
</div>
</div>
<!-- header -->
<div class="header_bg">
<div class="container">
	<div class="header">
		<div class="logo">
			<a href="index.html"><img src="../assets/img/logo.png" alt="" style="height:50px;width="50px"/><span style="color:blue">&nbsp;&nbsp;( ¯(∞)¯ )の店&nbsp;&nbsp;</span><img src="../assets/img/logo2.png" alt="" style="height:50px;width="50px"/> </a>
		</div>
		
		<!-- start header_right -->
		<div class="header_right" id="sign">
		<div class="create_btn"  >
			<a class="arrow"  href="user.html">注册 <img src="../assets/img/right_arrow.png" alt=""/>  </a>
		</div>
	
	
		
	
		<div class="clearfix"></div>
		</div>
		<!-- start header menu -->
	<ul class="megamenu skyblue">
				<li><a class="color1" href="product.html">主页</a></li>
			
						
			
				<li><a class="color3" href="buy.html">购物车</a></li>
								<li><a class="color5" href="order.html">订单中心</a></li>
								<li><a class="color2 " href="user.html">用户中心</a></li>
						
			
		</ul>
	</div>
</div>
</div>
<!-- content -->
<div id="content">
<div class="container">
<div class="women_main">
	<!-- start content -->
			<div class="row single">
				<div class="col-md-9">
				  <div class="single_left">
					<div class="grid images_3_of_2">
						<div >
		                           <img :src=imgurl class="img-responsive " alt=""/>
		                       </div>
						 <div class="clearfix"></div>		
				  </div>
				  <div class="desc1 span_3_of_2">
					<h3>{{name}}</h3>
					<p>{{price}}&nbsp;$ </p>
					
				
					<div class="btn_form">
						<span>数量：<input
						style="width:50px" v-bind:id=id v-bind:data-stock="stock" type="number"
						@input="checkCount"></span>
					
					<br>
					<br>
						<a  @click="addCart()">加入购物车</a>
					</div>
					
			   	 </div>
          	    <div class="clearfix"></div>
          	   </div>
          	    <div class="single-bottom1">
					<h6>商品描述</h6>
					<p class="prod-desc">{{description}}</p>
				</div>
				<div class="single-bottom2">
					<h6>为您推荐</h6>
						<div class="product" v-for="item in productList">
						   <div class="product-desc">
								<div class="product-img">
		                           <img :src=item.imgurl class="img-responsive " alt=""/>
		                       </div>
		                       <div class="prod1-desc">
		                           <h5><a class="product_link" :href="'details.html?id='+item.id+'&name='+item.name+'&discount='+item.discount+'&category='
				    +item.category.name+'&imgurl='+item.imgurl+'&isNew='+item.isNew+'&description='+item.description+'&price='+
				    item.price+'&stock='+item.stock
				    ">
				     {{item.name}}&nbsp;&nbsp;</a></h5>
		                           <p class="product_descr"> {{item.description}} </p>									
							   </div>
							  <div class="clearfix"></div>
					      </div>
						  <div class="product_price">
								<span class="price-access">{{item.price}}&nbsp;&nbsp;$</span>								
								<button class="button1"><span><a  :href="'details.html?id='+item.id+'&name='+item.name+'&discount='+item.discount+'&category='
				    +item.category.name+'&imgurl='+item.imgurl+'&isNew='+item.isNew+'&description='+item.description+'&price='+
				    item.price+'&stock='+item.stock
				    ">查看详情</a></span></button>
		                  </div>
						 <div class="clearfix"></div>
				     </div>
				     
				     				<nav aria-label="Page navigation">
			<ul class="pagination">
				<li><a aria-label="Previous" @click="operate(-1)"> <span
						aria-hidden="true">&laquo;</span>
				</a></li>
				<li>
				<li><a @click="current(n)" v-for="n in totalPage" :value="n">{{n}}</a></li>

				</li>
				<li><a aria-label="Next" @click="operate(1)"> <span
						aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>
		</nav>
				  
		   	  </div>
	       </div>	
	       			<div class="col-md-3">
	  <div class="w_sidebar">
		<div class="w_nav1">
			<h4>商品信息</h4>
			<ul>
							<li>商品编号：{{id}}</li>
			
				<li>库存：{{stock}}<span style="color:red" v-if="stock<=10&&stock>0">&nbsp;&nbsp;库存紧张</span></li>
				<li >折扣信息：<span v-if="discount==1" style="color:blue">限时优惠</span><span v-else >暂无</span></li>
				<li >状态：<span v-if="isNew==1" style="color:orange">新品在售</span><span v-else-if="stock==0" style="color:red">缺货</span><span v-else>在售</span></li>
				<li>所属类别：{{category}}</li>
			</ul>	
		</div>
	
	
	
	
	</div>
   </div>
		   <div class="clearfix"></div>		
	  </div>
	<!-- end content -->
</div>
</div>
</div>
<!-- footer_top -->
<div class="footer_top">
 
</div>
<!-- footer -->
<div class="footer">
 <</div>

</body>

<script>



new Vue({
	el : '#content',
	data : {
		
		price : "",
		name : "",
		category : "",
		stock : "",
		imgurl:"",
		isNew:"",
		description:"",
		discount:"",
		id:"",
		productList : [],
		head : "http://localhost:8080/product",
		pageIndex : 1,
		pageSize : 2,
		totalPage : "",
		lowprice:"",
		highprice:"",
		userId:window.userId,
	},
	mounted : function() {
		this.getProduct();
		this.getRelativeProduct();
	},
	methods : {
		
		getRelativeProduct : function() {
			this.$http.get(this.head+"/productRelative", {
				params : {
					id:this.id,
					pageSize : this.pageSize,
					pageIndex : this.pageIndex
				}
			}).then(function(res) {
				if (res.body.success) {
					this.productList = res.body.data.list
					this.totalPage = res.body.data.page;
					

				} 
			}, function() {
				console.log('请求失败处理');
			});
		},
		
		 GetQueryString:function(name)
		{
			 var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
			  var r = window.location.search.substr(1).match(reg); 
			  if (r != null) return decodeURI(r[2]); 

		},
	
		addHistory:function(){
			this.$http({
				url : "http://localhost:8080/order/addHistory",
				method : "post",
				body : {
					price : this.price,
					name : this.name,
					imgurl:this.imgurl,
					id:this.id,
					isNew:this.isNew,
					discount:this.discount,
					desc:this.description,
					category:this.category,
					stock:this.stock,
			
			
					
				},
				emulateJSON : true
			}).then(function(res) {
				
			}, function(res) {
				console.log(res.status);
			});
		},
		
		checkCount : function(e) {

			if (				parseInt(e.target.value) > parseInt(e.srcElement.dataset.stock) ) {
				e.target.value = e.srcElement.dataset.stock
			}
			if(parseInt(e.target.value)<=0){
				e.target.value=1;
			}
		},

	

		

	
		addCart : function() {
			var input=document.getElementById(this.id);
			if(input.value==""){
				alert("请输入有效值")
				return;
			}
			this.$http.post("http://localhost:8080/order/addCart", {
				price : this.price,
				name : this.name,
				id : this.id,
				stock:this.stock,
				count:input.value,
				imgurl:this.imgurl,
			}, {
				emulateJSON : true
			}).then(function(res) {
				if (res.body.success) {
					input.value="";
					alert("添加成功");

				}else{
					alert(res.body.msg)
				}

			}, function(res) {
				console.log(res.status);
			});
		},
		operate : function(id) {
			this.pageIndex = this.pageIndex + id;
			if (this.pageIndex < 1) {
				this.pageIndex = 1
			}
			if (this.pageIndex >= this.totalPage) {
				this.pageIndex = this.totalPage;
			}
			this.getRelativeProduct();

		},
		current : function(id) {
			this.pageIndex = id;
			this.getRelativeProduct();

		},
		


		getProduct : function() {
			this.id=this.GetQueryString("id")
						this.price=this.GetQueryString("price")
			this.name=this.GetQueryString("name")
			this.category=this.GetQueryString("category")
			this.stock=this.GetQueryString("stock")
			this.imgurl=this.GetQueryString("imgurl")
			this.isNew=this.GetQueryString("isNew")
			this.description=this.GetQueryString("description")
			this.discount=this.GetQueryString("discount")
			var add=this.GetQueryString("add");
			if(add=="0"){
				return;
			}
			this.addHistory();
		},

	}
})
</script>


<script>




$(function() {
	//先访问后台看是否有此用户记录，有就直接跳转到index.html
 	$.ajax({
		url: "http://localhost:8080/user/whetherLogin",
		type: "GET",
		success: function(data) {
		if(data.success){
			var d=data.msg.split('-');
			console.log(d)
			$('#loginContainer').hide();
			$('#sign').hide();
			$('#weclome').text('欢迎您,'+d[0])
			$('#logout').show();
			window.userId=d[1]
		}else{
           $('#logout').hide();
		}
		}
	})
	

})

	 $('#login').on('click', function() {
			$.ajax({
				type: "POST",
				url: "http://localhost:8080/user/login",
				data: {
					account: $('#account').val(),
					password: $('#password').val(),
					role:0,
				},
				success: function(data) {
if(data.success){
	window.userId=data.msg
	window.location.href="./product.html"
}else{
	alert(data.msg)
}
				}
			})
		})</script>
</html>